.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  margin: auto;
  margin-top: 2rem;
  padding: 2rem 3rem;
  border: 1px solid var(--secondary);
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  border-radius: 4px;
}

.login__group {
  margin: 0.2rem 1rem 1rem;
}

.login__group > * {
  display: block;
  width: 100%;
}

.login__label {
  margin-bottom: 0.5rem;
}

.login__input {
  padding: 0.5rem;
  outline: none;
}

@media (min-width: 900px) {
  .login {
    max-width: 500px;
  }
}

@media (max-width: 768px) {
  .login {
    width: 70vw;
  }
}

@media (max-width: 500px) {
  .login {
    width: 90vw;
  }
}
