.taskitem {
  display: flex;
}

.taskitem__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  padding: 0.5rem;
}

.taskitem__subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  padding: 0.5rem;
}

.taskitem__bid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
}

.taskitem__bid .btn {
  margin: 0;
  padding: 0.7rem 2px;
}

@media (max-width: 768px) {
  .taskitem {
    display: flex;
    flex-direction: column;
  }
  .taskitem__content {
    width: 100%;
  }

  .taskitem__subtitle,
  .taskitem__bid {
    width: 100%;
  }
}
