.img {
  /* background-color: honeydew; */
  background-image: linear-gradient(to left, var(--primary), #ddf3d7);
  height: 40vh;
  padding: 4rem;
}

.front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  margin-left: 5rem;
}

.front span {
  display: block;
}

.front .btn {
  background-color: rgb(105, 204, 92);
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;
  background-color: rgb(105, 204, 92);
  height: 12vh;
}

.icon {
  border-radius: 5rem;
  padding: 1rem;
  cursor: pointer;
}

.icon > * {
  height: 2rem;
}

.icon:hover {
  background-color: honeydew;
}

.img h1 {
  color: rgba(100, 93, 93, 0.699);
}

